.terrible{
  font-style: italic;
}

body{
  background-color: #99c;
  text-align: center;
  border: solid;
  margin: 0;
  height: 100vh;
  border-radius: 100px;
}

li {
  list-style-type: none;
}

html{
  background-color: #000;
}